.d-none {
    display: none !important;
}

.live-data-container {
    position: absolute;
    background-color: #000;
    color: #fff;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-family: 'Handjet', sans-serif;
    font-size: 28px;
    box-sizing: border-box;
}

.header-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 3rem;
    line-height: 3rem;
    padding: 0 1rem 0 1rem;
    border-bottom: 1px solid #888;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.leaderboards-container {
    position: absolute;
    top: 3rem;
    left: 0;
    bottom: 0;
    width: 32.5rem;
    padding: 1rem;
    border-right: 1px solid #888;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-sizing: border-box;
}

.leaderboard-position {
    display: flex;
    gap: 1rem;
}

.leaderboard-position-position {
    width: 1.5rem;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
}

.leaderboard-position-car-number {
    width: 2.5rem;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}

.leaderboard-position-driver-name {
    width: 9rem;
    white-space: nowrap;
    overflow: hidden;
}

.leaderboard-position-telemetry {
    width: 6rem;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
}

.leaderboard-position-speed {
    width: 6rem;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
}

.track-map-container {
    position: absolute;
    top: 3rem;
    left: 32.5rem;
    right: 0;
    bottom: 20rem;
    padding: 1rem;
    border-bottom: 1px solid #888;
    box-sizing: border-box;
}

.track-map-canvas {
    width: 100%;
    height: 100%;
}

.event-log-container {
    position: absolute;
    left: 32.5rem;
    bottom: 0;
    right: 12rem;
    height: 20rem;
    padding: 1rem;
    border-right: 1px solid #888;
    box-sizing: border-box;
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
}

.event-log-message {
    display: flex;
    gap: 1rem;
}

.event-log-message-session-time {
    width: 5rem;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
}

.event-log-message-car-number {
    width: 2.5rem;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}

.event-log-message-driver-name {
    width: 9rem;
    white-space: nowrap;
    overflow: hidden;
}

.event-log-message-position {
    width: 3rem;
    white-space: nowrap;
    overflow: hidden;
}

.race-status-container {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 12rem;
    height: 20rem;
    padding: 1rem;
    box-sizing: border-box;
}

.type-green, .type-onelaptogreen, .type-startready, .type-startset, .type-startgo, .race-status-green-light, .race-status-green-flag {
    color: lightgreen;
}

.type-pit-in, .type-pit-out {
    color: orchid;
}

.type-caution, .type-cautionwaving, .type-yellow, .type-yellowwaving, .race-status-yellow-light, .race-status-yellow-flag {
    color: yellow;
}

.type-incident {
    color: darkorange;
}

.type-black-flag {
    color: red;
}

.type-best-lap {
    color: deepskyblue;
}

.type-pace-car {
    color: whitesmoke;
}

.race-status-current-lap-container {
    display: flex;
    gap: 0.25rem;
}
